body {
  overflow-x: hidden;
  background-color: rgb(8, 0, 45);
}

::-webkit-scrollbar {
  width: 5px;
  transition: ease 500ms;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(45, 84, 162);
  transition: color 500ms ease;
}

::-webkit-scrollbar-thumb {
  background: rgb(0, 23, 107);
  border-radius: 10px;
}

.App {
  overflow-x: hidden;
  overflow-y: hidden;
}

.blocks-container {
  display: flex;
  flex-direction: column;
}

.nav-container {
  position: fixed;
  top: 0;
  align-items: center;
  background-color: rgb(144, 0, 0);
  z-index: 200;
  box-shadow: 0px 1px 20px rgb(63, 36, 36);
}

@media (min-width:1025px) {
  .cover-container {
    top: 94px;
  }
}

.cover-container {
  position: relative;
  width: 100%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 1px 40px rgb(196, 196, 196);
}

.brands-container {
  width: 100%;
  box-shadow: 0px 1px 20px rgb(249, 246, 246);
}

.locations-container {
  background-color: white;
}

@media only screen and (max-width: 1300px) {
  .brands-container {
    padding-top: 250px;
    height: 900px;
    background-color: rgb(8, 0, 45);
  }

  .nav-container {
    width: 120%;
  }
}

@media only screen and (max-width: 599px) {

  .brands-container {
    height: 700px;
  }

  .nav-container {
    width: 100%;
  }
}
