.locations {
    display: flex;
    width: 100%;
    background-image: url("./img/locations-bg.png");
    background-position: right;
    background-size: cover;
}

.location-left,
.location-right {
    display: flex;
    flex-direction: column;
    background-color: rgba(254, 225, 225, 0.55);
    padding: 10% 0;
}

.location-content {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

}

.locations-name {
    width: 100%;
    display: inline;
}

.locations h1 {
    text-align: center;
    margin-bottom: 10%;
}

.locations h2 {
    white-space: nowrap;
}

.locations p {
    white-space: pre;
}

@media only screen and (max-width: 1300px) {
    .locations {
        flex-direction: row;
        padding: 10% 5%;
    }

    .location-left,
    .location-right {
        width: 50%;
    }

    .location-content {
        display: flex;
        flex-direction: row;
        gap: 10%;
    }

    .locations h1 {
        font-size: 40px;
    }

    .locations h2 {
        font-size: large;
    }

    .locations p {
        font-size: medium;
    }

    .location-right {
        border-radius: 0 25px 25px 0;
    }

    .location-left {
        border-right: 1px rgb(192, 192, 192) solid;
        border-radius: 25px 0 0 25px;
    }
    
}

@media only screen and (max-width: 599px) {
    .locations {
        flex-direction: column;
        padding: 6% 6%;
    }

    .location-left, .location-right {
        width: 100%;
    }
    
    .location-content {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    .locations h1 {
        font-size: 35px;
    }

    .locations h2 {
        font-size: large;
    }

    .locations p {
        font-size: medium;
    }

    .location-right {
        border-radius: 0 0 15px 15px;
    }

    .location-left {
        border-bottom: 1px rgb(100, 100, 100) solid;
        border-radius: 15px 15px 0 0;
    }
    
}
