.container-fluid {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: 5%;
    display: flex;
    flex-direction: row;
    gap: 6%;
    width: 85%;
}

nav {
    opacity: 1;
}

.navbar-brand {
    width: 10%;
}

.nav-link {
    font-size: 110%;
    font-weight: 500;
    width: 100%;
    text-wrap: nowrap;
    color: rgb(0,0,0);
    opacity: 0.8;
}

.nav-link:hover {
    color: rgb(55, 177, 200);
}

@media only screen and (max-width: 1300px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        gap: 4%;
    }
    
    .logoMark {
        width: 100%;
    }

    .nav-container button {
        position: relative;
        left: 0;
    }
}

@media only screen and (max-width: 599px) {
    .navbar-nav {
        display:inherit;
    }

    .logoMark {
        width: 150%;
        position: relative;
        left: 20px;
    }

    .nav-container button {
        position: relative;
        left: 30px;
    }
}
