.container-fluid {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.nav-link {
    color: rgb(0,0,0);
    font-size: 115%;
    font-weight: 500;
}

.nav-link:hover {
    color: rgb(55, 177, 200);
}

@media only screen and (max-width: 1300px) {
    .logoMark {
        width: 30%;
        position: relative;
        right: 80px;
    }

    .navbar-nav {
        position: relative;
        right: 245px;
    }

    .nav-link {
        margin-left: 10px;
    }
}

@media only screen and (max-width: 599px) {
    .logoMark {
        width: 20%;
        position: relative;
        left: 10px;
    }

    .navbar-nav {
        position: relative;
        right: 0;
    }

    .nav-container button {
        position: relative;
        right: 10px;
    }
}
