.services {
    display: flex;
    flex-direction: row;
    gap: 30%;
    width: 100%;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.services div {
    min-width: 100%;
}

.services img {
    width: 100%;
    border-radius: 75%;
}